.container-md {
    width: 800px;
    margin: 0 auto;
}

.container-lg{
    width: 1200px;
    margin: 0 auto;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00796b;
    color: #FFF;
    text-decoration: none;
}

.center {
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
}

button{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    color: #FFF;
    background: #00796b;
    border-radius: 4px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}